@use "sass:color";
@import "styles/variables";
@import "styles/mixins";

.noteWrapper {
  margin-top: 3rem;

  .noteItem {
    display: block;

    &:hover {
      transform: translateY(2px);
      transition: all 0.2s ease;

      h3 {
        color: $color-gray-400;
      }
    }
  }

  h3 {
    color: $color-dark-gray;
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 600;
    letter-spacing: -0.02rem;
    margin-top: 0.5rem;

    @include media-breakpoint-down(xl) {
      font-size: 1.3rem;
    }

    @include media-breakpoint-down(md) {
      font-size: 1.2rem;
    }
  }

  .solutionLink {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: -0.02rem;
    display: inline-flex;
    margin-top: 0.5rem;
    color: color.adjust($color-orange, $lightness: 10%);
    border: 2px solid color.adjust($color-orange, $lightness: 10%);
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;

    &:hover {
      color: $color-orange;
      border: 2px solid $color-orange;
    }
  }
}
